[Unit]
Description=Bingo service
After=network.target

[Service]
OOMScoreAdjust=-100
ExecStart=/usr/local/bin/bingo run_server
Restart=always
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target